### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac OS X stuff
.DS_Store

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.venv
env/
*venv/
ENV/
env.bak/
venv.bak/

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/*.code-snippets
spyctl/.vscode/*
spyctl_api/.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Other ###
spyctl/tests/playground/*
*.code-workspace
*.config

### Report test json configs ###
spyctl_api/**/*.json

### Report test output ###
**/*.html
**/*.pdf
**/*.md
**/*.mdx
**/*.xlsx

spyctl_api/app/reports/portfolio/tests/*.json
spyctl_api/app/reports/portfolio/tests/*.yaml

!spyctl_api/app/reports/portfolio/samples/*.md*

### Report tests running as k8s job
spyctl_api/spyctl-api-svc/templates/report*.yaml

### Report notebook pocs ###
**/*.ipynb
**/.ipynb_checkpoints
**/notebooks/*
**/*.zst
**/*.gz
